@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@if (IsPost)
{
    var login = Request["Login"];

    if (ViewBag.LogIn)
    {
        FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
        Response.Redirect("/Home/IndexLogged");
    }
    else
    {
        Response.Redirect("/Authorization/Login");
    }
}

<form action="/Home/Login" method="post">
    <label for="Login">login:</label>
    <input type="text" name="Login" id="Login" />
    <button type="submit">Log in</button>
</form>