@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
@if (IsPost && Request["Logout"].IsEmpty())
{
    FormsAuthentication.SignOut();
    Response.Redirect("/Authorization/Login");
}
<h3>
    Do you really want to log out?
</h3>
<form action="/Authorization/Logout" method="post">
    <button type="submit" name="Logout">Log out</button>
</form>