@{
    ViewBag.Title = "HomePage";
}

<h1>Главная</h1>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Информация
    </button>
</p>
<h2>Авторизация</h2>
<form class="menu" action="/Customer/Login" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="surname">Ваша фамилия</label>
            <input required type="text" class="form-control" id="surname" name="surname" placeholder="Введите фамилию">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Ваше имя</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Введите имя">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Авторизоваться</button>
</form>
<div style="padding: 10px">
    @Html.ActionLink("Не зарегистрированы? Нажмите здесь, чтобы зарегистрироваться.", "RegistrationForm", "Customer")
</div>
<script>
</script>