@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutLoggedAdmin.cshtml";
   
}

<div class="container">
    <h1 class="display" style="padding-top: 15px;">Добро пожаловать!</h1>
    <p>Вы находитесь на сайте нашего агенства недвижимости в роли <b>администратора</b>. Вам доступна панель редактирования и 
        просмотра всех имеющихся таблиц. Сделать это вы можете в разделе "Панель управления"</p>
</div>
<style>
    .display {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.5;
    }
    .container {
        font-size: 2.0rem;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<script>
</script>