@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1 class="display" style="padding-top: 15px;">Добро пожаловать!</h1>
</div>
<style>
    .display {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.5;
    }
    .container {
        font-size: 2.0rem;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<script>
</script>