@{
    ViewBag.Title = "HomePage";
}

<h1>Главная</h1>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Информация
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Как-то так.
    </div>
    <img src="~/Content/Images/cat.jpg"/>
</div>

