@using Entities
@using WebApp.Models
@model RealtorModel
@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="bg-info clearfix">
    <h1 class="h1 bottom-left">Риэлторы</h1>
</div>

<table class="table">
    <tbody>
    <thead>
    <tr>
        <th scope="col">
            <div>
                <form action="/Realtor/SortByRealtorName" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Имя риэлтора</button>
                </form>
            </div>
        </th>
        <th scope="col">
            <div>
                <form action="/Realtor/SortByExperience" method="post">
                    <button type="submit" class="btn btn-primary btn-sm">Количество проведенных сделок</button>
                </form>
            </div>
        </th>
    </tr>
    </thead>
   
    @foreach (var realtor in (IEnumerable<Realtor>) @ViewData["Realtors"])
    {
        <tr>
            <td>@realtor.RealtorName</td>
            <td>@realtor.NumOfContracts</td>
        </tr>
    }
    </tbody>
</table>
