@using Entities
@using WebApp.Models
@model CustomerModel


<div class="form-horizontal">
    <h4>Регистрация</h4>
    <form class="menu" action="/Customer/Registration" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="surname">Ваша фамилия</label>
                <input required type="text" class="form-control" id="surname" name="surname" placeholder="Введите фамилию">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Ваше имя</label>
                <input required type="text" class="form-control" id="name" name="name" placeholder="Введите имя">
            </div>
        </div>
        <div class="form-group row width-class">
            <label for="citySelection" class="col-2 col-form-label">Город</label>
            <select class="form-control" id="citySelection" name="citySelection">
                <option selected></option>
                @foreach (var city in (IEnumerable<City>) @ViewData["Cities"])
                {
                    <option>@city.CityName</option>
                }
                                
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
        
</div>